extends layout
include _includes/shared
block content

  h1.text-white #{body.name}
  hr
  .container-fluid
    .row
      .col-lg-4
        .card
          .card-header.text-white.bg-danger
            | Opening Hours
          .card-body.bg-info
           each i in body.openingTimes
            if i.closed == false 
              p.card-text.text-white #{i.days}: #{i.opening}-#{i.closing}
            else
              p.card-text.text-white #{i.days}: closed

    .row.my-5
      .col-lg-4
        .card
          .card-header.text-white.bg-danger
            | Facilities
          .card-body.bg-info
               each i in body.facilities
                span.card-text.text-white.bg-warning.mx-2.p-1 #{i}
           
           
    .row.my-5
      .col-lg-8
        table.table.table-bordered.table-info.table-striped
          thead.bg-danger.text-white
            tr
              th Customer reviews
          tbody
           each i in body.reviews 
              tr
                td 
                  span
                    span
                      +outputRating(i.rating)
                    span.mx-2 #{i.author}
                    span.mx-3 
                      +formatDate(i.createdOn)
              tr
                td
                  span #{i.reviewText}
        
        a.btn.btn-secondary(href='/location/#{body._id}/review/new') Add Review

